<div class="flex-container">
    <h1>NotATrelloCopy - Change Password</h1>
    <form ng-submit="changePassword(data)" ng-controller="LoginRegisterController" method="PUT" validation>
        <input ng-model="data.password" type="password" name="password" id="password" placeholder="Password" required>
        <input ng-model="passwordConfirm" type="password" ng-keyup="checkPass(data)" name="password-confirm" id="password-confirm" placeholder="Confirm Password" required>
        <input type="submit" id="submit" value="Change Password" disabled>
        <!-- asd -->
    </form>
</div>