<div>
    <!-- Dashboard success
    <button ng-click="test()">Test</button>
    <p>
        <ul ng-repeat="user in users">
            <li>{{user.id}} - {{user.email}}</li>
        </ul>
    </p> -->
    <div class="container">
        <div class="text-right mb-3">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addProject">
                New Project
            </button>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-1" ng-if="prr.length == 0">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">No projects to show</h5>
                        <p class="card-text">You haven't created any projects yet. Press the 'New Project' button to create one.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-1" ng-repeat="project in prr">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{project.project.name}}</h5>
                        <!-- <p class="card-text">{{project.desc}}</p> -->
                        <!-- <button href="project/{{project.project.id}}" class="btn btn-primary card-link"> -->
                        <button ng-click="openProject(project.project.id)" class="btn btn-primary card-link">
                            Open Project
                        </button>
                        <button ng-if="project.role == 'CREATOR'" class="btn btn-outline-primary" type="button" ng-click="beginEdit(project)" data-toggle="modal" data-target="#editProject">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <title>Edit Project</title>
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </button>
                        <button ng-if="project.role == 'CREATOR'" class="btn btn-outline-primary" type="button" ng-click="beginEdit(project)" data-toggle="modal" data-target="#addMemberProject">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <title>Add Member</title>
                                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>
                        <button ng-if="project.role == 'CREATOR'" class="btn btn-outline-primary" type="button" ng-click="beginEdit(project)" data-toggle="modal" data-target="#deleteMemberProject">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-dash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <title>Delete Member</title>
                                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5-.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <button class="btn btn-outline-primary" type="button" ng-click="loadMembers(project.project.id)" data-toggle="modal" data-target="#listMembersProject">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <title>List Members</title>
                                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button> 
                        <svg ng-if="project.role == 'CREATOR'" width="1em" height="1em" viewBox="0 0 16 16" class="cus-user-ic bi bi-person-badge-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <title>You are the CREATOR of this project</title>
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                        </svg>
                        <svg ng-if="project.role == 'USER'" width="1em" height="1em" viewBox="0 0 16 16" class="cus-user-ic bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <title>You are a USER of this project</title>
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <svg ng-if="project.role == 'GUEST'" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="cus-user-ic bi bi-eye" viewBox="0 0 16 16">
                            <title>You are a GUEST of this project</title>
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                        <button ng-if="project.role == 'CREATOR'" class="btn btn-outline-danger" type="button" ng-click="beginEdit(project)" data-toggle="modal" data-target="#deleteProject">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <title>Delete Project</title>
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </div>
                    
                    <!-- <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div my-include template-path="views/modals/addProject.html"></div>
    <div my-include template-path="views/modals/editProject.html"></div>
    <div my-include template-path="views/modals/listMembersProject.html"></div>
    <div my-include template-path="views/modals/addMemberProject.html"></div>
    <div my-include template-path="views/modals/deleteMemberProject.html"></div>
    <div my-include template-path="views/modals/deleteProject.html"></div>
</div>