<div class="d-flex flex-wrap align-content-center cus-min-vh-80">
    <div class="d-flex flex-column align-items-center align-content-center">
        <h1 class="display-1">NotATrelloCopy</h1>
        <h2 class="display-4">Hello there Traveler</h1>
        <h3 class="display-5">Meet your new go to project organization app</h3>
        <p>Allow yourself to get things done quicker and better thanks to this awesome app</p>
        <a href="register" class="btn btn-outline-success btn-lg">Register Now!</a>
    </div>
    <div class="d-flex flex-column justify-content-center align-content-center mx-auto" style="text-align: center;">
        <img src="https://cdn.betterttv.net/emote/5e48d907751afe7d553dd666/3x" alt="get-organized">
    </div>
</div>    