<div id="flex-container-home">
    <div class="home-sep"></div>
    <div class="flex-item">
        <h1>NotATrelloCopy</h1>
        <h2>Hello there Traveler</h1>
        <h3>Meet your new go to project organization app</h3>
        <p>Allow yourself to get things done quicker and better thanks to this awesome app</p>
        <a href="register"><button>Register Now!</button></a>
    </div>
    <div class="flex-item">
        <img src="https://cdn.betterttv.net/emote/5e48d907751afe7d553dd666/3x" alt="get-organized">
    </div>
</div>    