<div class="flex-container">
    <h1>NotATrelloCopy - Login</h1>
    <form ng-submit="login(data)" ng-controller="LoginRegisterController" method="post">
        <input ng-model="data.email" type="text" name="email" id="email" placeholder="Email" required>
        <input ng-model="data.password" type="password" name="pass" id="password" placeholder="Password" required>
        <input type="submit" id="submit" value="Login">
        <p>
            <a href="forgot-pass"><button>Forgot your password?</button></a>
        </p>
    </form>   
</div>  