body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #F5F7F4;
    font-size: 1.25rem;
    color: #1D131D;
    padding-top: 100px;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none !important;
}

#flex-container-home {
    display: flex;
    min-width: 100%;
    min-height: 80vh;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    min-height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-item {
    max-width: 100vw;
    text-align: center;
    margin: auto;
    height: 20%;
    flex: 0 0 50%;
    font-size: 2em;
}

button, input[type="submit"] {
    cursor: pointer;
    font-size: 2rem;
}

.space {
    height: 100px;
}

input{
    width: 80%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid rgb(68, 68, 68);
    margin: 10px 0;
}

.dropdown-menu {
    right: 0;
    left: auto !important;
}



/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
 .simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}