<div class="modal fade" data-backdrop="static" id="addMemberProject" tabindex="-1" aria-labelledby="addMemberProjectLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMemberProjectLabel">Add Member to {{edit.name}}</h5>
                <button type="button" class="close" ng-click="clearModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="addMemberProjectForm">
                    <!-- <div class="form-group">
                        <label for="project-id" class="col-form-label">Project ID:</label>
                        <input ng-model="data.id" type="text" class="form-control" id="project-id" required>
                    </div> -->
                    <div class="form-group">
                        <label for="addMember-email" class="col-form-label">Member Email</label>
                        <input ng-model="data.email" type="email" class="form-control" id="addMember-email" placeholder="client@server.com" required>
                    </div>
                    <div class="form-group">
                        <label for="addMember-select" class="col-form-label">Select role:</label>
                        <select ng-model="data.select" id="addMember-select" name="addMember-select" class="form-control" required>
                            <option disabled selected value> -- select an option -- </option>
                            <option value="USER">USER</option>
                            <option value="GUEST">GUEST</option>
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label for="project-desc" class="col-form-label">Project Description:</label>
                        <textarea ng-model="data.desc" class="form-control" id="project-desc"></textarea>
                    </div> -->
                </form>
                <h4>Member List</h4>
                <div ng-repeat="user in currentProject.users">
                    {{user.user.email}} - {{user.role}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="clearModal()" data-dismiss="modal">Close</button>
                <button ng-click="addMemberProjectForm.$valid && addMember(data, edit)" type="button" data-dismiss="modal" class="btn btn-primary">Add Member</button>
            </div>
        </div>
    </div>
</div>