<div class="modal fade" data-keyboard="false" data-backdrop="static" id="deleteAccount" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountLabel">Delete Account</h5>
                <button type="button" class="close" ng-click="clearModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account? You can't reverse this action. All projects you own will be deleted as well.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="clearModal()" data-dismiss="modal">Close</button>
                <button type="button" ng-click="deleteAccount()" class="btn btn-danger" data-dismiss="modal">Delete Account</button>
            </div>
        </div>
    </div>
</div>