<nav class="navbar fixed-top navbar-light cus-bg-white shadow-sm" ng-controller="LoginRegisterController">
    <h1><a href="/">NotATrelloCopy</a></h1>
    <div class="btn-group btn-group-lg" role="group" aria-label="LoginRegister Buttons">
        <button ng-click="markAsRead()" class="popper btn btn-outline-primary" title="Notifications" data-toggle="popover">
            <svg ng-if="notificationsRead" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
            </svg>
            <svg ng-if="!notificationsRead" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
            </svg>
        </button>
        <div class="popper-content cus-hide">
            <div class="dropdown-item" ng-if="notifications.length == 0">No notifications</div>
            <div class="pop-scroll" ng-if="notifications.length > 0">
                <div class="dropdown-item" ng-repeat="notification in notifications | orderBy:'-id'">
                    {{notification.creationDate.split("T")[0]}} {{notification.creationDate.split("T")[1].split(".")[0]}} {{notification.message}}
                </div>
            </div>
        </div>
        <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
        </button>
        <div class="dropdown">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item">{{userEmail}}</div>
                <a class="dropdown-item" href="changePassword">Change Password</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteAccount">Delete Account</a>
                <a class="dropdown-item" href="/" ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>
    <script>
        $('.popper').popover({
            trigger: 'click',
            placement: 'bottom',
            container: '.navbar',
            html: true,
            content: function () {
                return $(this).next('.popper-content').html();
            }
        });
    </script>
</nav>